<template id="abc-xyz">  
  <h1>Hello ABC</h1>
  <input :value="form.message" @input="changeMessage">
  <div :children="form.message"></div>
  <button class="btn btn-primary" @click="sendMail">Send</button>
</template>

<script>
  exportTag('abc-xyz', class extends MyElement {
    data () {
      return {
        cc: 100,
        form: {message: 'qaq'}
      }
    }
    async sendMail (e) {
      e.preventDefault()
      const res = await api.getUser()
      console.log('sent email yay', res)
      this.data.form = {dd: 11, message: 'xyz'}
    }
    changeMessage (e) {
      this.context.magic = e.target.value
    }
  })
</script>
