<template id="abc-xyz">  
  <h1>Hello ABC</h1>
  <input :value="message" @input="changeMessage">
  <div :children="message"></div>
  <button class="btn btn-primary" @click="sendMail">Send</button>
</template>

<script>
  exportTag('abc-xyz', class extends MyElement {
    data () {
      return {
        cc: 100
      }
    }
    async sendMail (e) {
      e.preventDefault()
      const res = await api.getUser()
      console.log('sent email yay', res)
      this.data.message = 'xyz'
    }
    changeMessage (e) {
      this.data.message = e.target.value
    }
  })
</script>
