<template>
  <style>
    :host {
      display: contents;
    }
  </style>
  <nav id="navBar" class="navbar navbar-expand-lg navbar-light ng-light" style="width: 100vw; justify-content: space-between;">
    <div class="form-row p-0">
      <router-link to="/">
        UST.Course
      </router-link>
    </div>
    <div class="form-row p-0" style="align-items: center;">
      <img x-if="isLoggedIn" id="navPhoto" :src="userAvatar" width="40rem;" height="40rem;">
      <router-link x-if="isLoggedIn" to="/profile">
        <a class="nav-link">
          <button class="btn btn-secondary m-0">
            Profile
          </button>
        </a>
      </router-link>
      <button x-if="isLoggedIn" class="btn btn-secondary m-0" @click="logout" style="height:100%;">
        Logout
      </button>
      <router-link x-if="notLoggedIn" to="/login">
        <a>
          <button class="btn btn-primary m-0">
            Login
          </button>
        </a>
      </router-link>
    </div>
  </nav>
</template>

<script>
    exportTag('nav-bar', class extends MyElement {
      data () {
        return {
          userAvatar: ''
        }
      }

      constructor () {
        super()
        this.observe(this.context, () => {
          if (this.context.changedAvatar) this.context.changedAvatar = false
        //   this.data.invalidPassword = this.data.form.password !== this.data.form.confirmPassword ? 'The passwords do not match' : ''
          this.data.userAvatar = ((this.context.profile && this.context.profile.id) ? `${BASE_URL}/users/${this.context.profile.id}/picture?abc=${Math.random()}` : 'https://api.adorable.io/avatars/40/')
          // console.log(this.data.userAvatar)
        })
      }
        logout () {
            this.context.profile = null
            api.logout()
        }
    })
</script>
