<template>
  <ol class="breadcrumb p-1 px-4" style="width: 60vw; height: 2rem; margin: auto">
    <li x-for="segment:path" class="breadcrumb-item" :abc="segment" style="text-transform: capitalize">
      <router-link style="cursor: pointer;" :to="fullPath" style="display: inline;" :segment="segment">
        <a :xyz="segment" :children="segment"></a>
      </router-link>
    </li>
  </ol>
</template>

<script>
  exportTag('nav-breadcrumb', class extends MyElement {
    data () {
      return {
        path: []
      }
    }

    connectedCallback () {
      super.connectedCallback()

      this.computed = {
        fullPath (node, overrides) {
          const path = this.data.path
          return '/' + path.slice(0, path.indexOf(overrides.segment) + 1).join('/')
        }
      }

      window.addEventListener('hashchange', this.breadcrumbOnHash.bind(this))
      this.breadcrumbOnHash({newURL: window.location.href})
    }

    breadcrumbOnHash ({newURL = '', oldURL = ''}) {
      const afterHash = newURL.split('#')[1]
      this.data.path = afterHash.replace(/^\//, '').replace(/\?(.*)$/, '').split('/')
    }
  })
</script>
