<template>
  <ol class="breadcrumb" :abc="path" class="p-1" style="width: 100vw">
    <li x-for="segment:path" class="breadcrumb-item" :children="segment"></li>
  </ol>
</template>

<script>
  exportTag('nav-breadcrumb', class extends MyElement {
    data () {
      return {
        path: []
      }
    }

    constructor () {
      super()
      window.addEventListener('hashchange', this.breadcrumbOnHash.bind(this))
      this.breadcrumbOnHash({newURL: window.location.href})
    }

    breadcrumbOnHash ({newURL = '', oldURL = ''}) {
      const afterHash = newURL.split('#')[1] || ''
      this.data.path = afterHash.replace(/^\//, '').split('/')
    }
  })
</script>
