<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
        <router-link to="/">UST.Course</router-link>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"><router-link to="/courses/1">Course 1</router-link></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><router-link to="/profile">Profile</router-link></a>
          </li>
          <li class="nav-item">
            <button @click="changeContext">MAGIC</button>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</template>

<script>
exportTag('nav-bar', class extends MyElement {
  changeContext () {
    this.context.magic = 'yo m'
  }
})
</script>
