<template>

  <div id="profileEdit" class="container rounded bg-white" style="width:50rem; border:2px solid black">
    <div class="row">
      <div class="col p-3 text-center">
        <h4>Edit profile</h4>
        <hr>
      </div>
    </div>
    <form id="profileEditForm" @submit="submitProfile">
      <div class="row">
        <div class="col-md-4 col-sm-12 p-3">
          <div class="col text-center">
            <label for="profilePhoto">
              <strong>Profile Photo</strong>
            </label>
          </div>
          <div class="col">
            <object data="https://api.adorable.io/avatars/40/" type="image/png"  width="100%" height="100%">
              <img id="preview" :src="userAvatar">
            </object>
          </div>
          <div class="col mt-2" style="margin: auto;">
            <input type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png" :value="form.avatar" @input="changeField">
          </div>
        </div>
        <div class="col-md-8 col-sm-12 p-0 pr-3">
          <div class="form-row mt-3">
            <div class="col-3 form-group text-right">
              <label>
                <strong>Username</strong>
              </label>
            </div>
            <!-- Username to be changed -->
            <div class="col-7 form-group text-left" id="getUsername" :children="form.username">default</div>
          </div>
          <!-- <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="password">
                <strong>New Password</strong>
              </label>
            </div>
            <div class="col-7">
              <input type="password" name="password"  class="form-control" placeholder="New Password" :value="form.password" @input="changeField">
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="confirmPassword">
                <strong>Confirm Password</strong>
              </label>
            </div>
            <div class="col-7">
              <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" :value="form.confirmPassword" @input="changeField">
              <div x-if="invalidPassword" style="color: red; height: 1rem" :children="invalidPassword"></div>
            </div>
          </div> -->
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="first_name">
                <strong>First Name</strong>
              </label>
            </div>
            <div class="col-7">
              <input type="text"  name="first_name" class="form-control" placeholder="First Name" :value="form.first_name" @input="changeField">
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="last_name">
                <strong>Last Name</strong>
              </label>
            </div>
            <div class="col-7">
              <input type="text"  name="last_name" class="form-control" placeholder="Last Name" :value="form.last_name" @input="changeField">
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="email">
                <strong>Email</strong>
              </label>
            </div>
            <div class="col-7">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email address" :value="form.email" @input="changeField">
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="major">
                <strong>Major</strong>
              </label>
            </div>
            <div class="col-7">
              <select class="form-control" id="major" name="major" :value="form.major" @input="changeField">
                <option value="cse">Computer Science Engineering</option>
                <option value="cpeg">Computer Engineering</option>
                <option value="ece">Electronic Engineering</option>
                <option value="mech">Mechanical Engineering</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="year">
                <strong>Studying Year</strong>
              </label>
            </div>
            <div class="col-7">
              <select class="form-control" name="year" :value="form.year" @input="changeField">
                <option value="year1">Year 1</option>
                <option value="year2">Year 2</option>
                <option value="year3">Year 3</option>
                <option value="year4">Year 4</option>
                <option value="year5">Year 5</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group text-right mt-2">
              <label for="status">
                <strong>Current Status</strong>
              </label>
            </div>
            <div class="col-7">
              <select class="form-control" id="status" name="status" :value="form.status" @input="changeField">
                <option value="single">Single</option>
                <option value="couple">In a Relationship</option>
                <option value="engaged">Engaged</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="widowed">Widowed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="width: 20rem; margin: 0 auto;">
        <div class="col-6 form-group text-center pb-2">
          <button id="save" type="submit" class="btn btn-primary">
            <i class="fas fa-save mr-2"></i>Save Changes</button>
        </div>
        <div class="col-6 form-group text-center pb-2">
          <button id="cancel" type="button" class="btn">
            <i class="fas fa-ban mr-2"></i>Cancel</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
  exportTag('profile-form', class extends MyElement {
    data () {
      return {
        form: {},
        userAvatar: ''
      }
    }

    connectedCallback () {
      super.connectedCallback()

      this.observe(this.context, () => {
      //   this.data.invalidPassword = this.data.form.password !== this.data.form.confirmPassword ? 'The passwords do not match' : ''
        this.data.userAvatar = (this.context.profile && this.context.profile.id) ? `${BASE_URL}/users/${this.context.profile.id}/picture` : 'https://api.adorable.io/avatars/40/'
        // console.log(this.data.userAvatar)
      })

      // this.computed = {
      //   userAvatar () {
      //     console.log('avatar: ', this.data)
      //     return (this.context.profile && this.context.profile.id) ? `${BASE_URL}/users/${this.context.profile.id}/picture` : 'https://api.adorable.io/avatars/40/'
      //   }
      // }

      this.observe(this.context, () => {
        if (this.context.profile) Object.assign(this.data.form, this.context.profile)
      })
      // this.data.form = this.context.profile
    }

    changeField (e) {
      // console.log(e.target.name, e.target.value)
      console.table(this.data.form)
      this.data.form[e.target.name] = e.target.value
    }

    async submitProfile (e) {
      e.preventDefault()
      console.log('profile: ', this.data.form, this.context.profile.id)
      try {
        const {data: {user}} = await api.updateProfile(this.context.profile.id, this.data.form)
        this.context.profile = user

        console.log(this.context.profile)
      } catch (e) {
        switch (e.response && e.response.status) {
          default:
            console.error(e)
            swal('Error', 'Profile update failed', 'error')
        }
      }

    }
  })
</script>
