<template>

    <div class="container rounded bg-white p-3" style="min-width: 30rem">
        <div class="row">
            <!-- <div class="ml-3" style="position: absolute">
                <router-link to="/login">
                <button id="mainButton" class="btn btn-primary"><i class="fas fa-long-arrow-alt-left"></i></button>
                </router-link>
            </div> -->
            <div class="col form-group text-center mt-1">
                <h2 style="font-weight: 900">Registration</h2>
            </div>
        </div>
        <form id="regForm" @submit="submitRegister">
            <div class="form-row">
              <div class="col-md-6 col-xs-12 form-group" style="width: 100%">
                <label for="username">Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
                  <input type="text" required class="form-control rounded-right"  name="username" placeholder="Username" :value="form.username" @input="changeField">
                  <div :children="form.username"></div>
                  <div id="unavailError" class="col-6 form-text text-center text-danger mt-2" style="display: none; font-size: 0.9rem;">
                      <i class="fas fa-times mr-1"></i>The username is not available.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-xs-12 form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" required class="form-control"  name="password" placeholder="Password" :value="form.password" @input="changeField">
                    </div>
                    <div style="color: red; height: 1rem" :children="invalidPassword"></div>
                </div>
                <div class="col-md-6 col-xs-12 form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" required class="form-control" id="confirmPassword" name="confirmPassword" name="confirm" placeholder="Confirm Password" :value="form.confirmPassword" @input="changeField">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-xs-12 form-group">
                    <label for="first_name">First name</label>
                    <input type="text" required class="form-control"  name="first_name" placeholder="First Name" :value="form.first_name" @input="changeField">
                </div>
                <div class="col-md-6 col-xs-12 form-group">
                    <label for="last_name">Last name</label>
                    <input type="text" required class="form-control"  name="last_name" placeholder="Last Name" :value="form.last_name" @input="changeField">
                </div>
            </div>
            <div style="height: 4rem; margin: auto; width: 304px;">
              <slot name="recaptcha"></slot>
              <div id="register-recaptcha" slot="recaptcha"></div>
            </div>
            <div class="col form-group text-center mt-4">
                <button type="submit" name="register" class="col-6 btn btn-primary"><i class="fas fa-clipboard-list mr-2"></i>Register</button>
            </div>
            <hr>
            <div class="form-text text-center mb-2">
                Already has an account?
            </div>
            <div class="form-group text-center pb-2">
                <router-link to="/login"><button type="button" class="col-5 btn btn-info"><i class="fas fa-sign-in-alt mr-2"></i>Login</button></router-link>
            </div>
        </form>
    </div>
</template>

<script>
  exportTag('register-form', class extends MyElement {
    data () {
      return {
        form: {
          username: '',
          password: '',
          confirmPassword: '',
          first_name: '',
          last_name: ''
        },
        invalidPassword: ''
      }
    }

    connectedCallback () {
      super.connectedCallback()
      const instance = this
      this.observe(instance.data, () => {
        this.data.invalidPassword = this.data.form.password !== this.data.form.confirmPassword ? 'The passwords do not match' : ''
      })
      this.captchaWidget = grecaptcha.render(
        document.getElementById('register-recaptcha'),
        {
          sitekey: '6LfCOVgUAAAAANuXo_oP296gH3XytX9hgzwos7bp',
          // callback : this.verifyCallback.bind(instance),
        }
      )
    }

    changeField (e) {
      this.data.form[e.target.name] = e.target.value
    }

    async submitRegister (e) {
      e.preventDefault()
      e.target.classList.add('was-validated')
      const captcha = grecaptcha.getResponse(this.captchaWidget)
      grecaptcha.reset(this.captchaWidget)
      // If no captcha response
      if (!captcha) return swal('Woops!', 'Come on prove you are human..', 'error')
      if (e.target.checkValidity() === false) return
      if (this.data.invalidPassword) return false

      try {
        const {data: {user}} = await api.register(Object.assign(this.data.form, {captcha}))
        this.context.profile = user
      } catch (e) {
        switch (e.response && e.response.status) {
          case 400:
            swal('Error', 'User is already logged in', 'error')
            break
          default:
            console.error(e)
            swal('Error', 'Register failed', 'error')
        }
      }

      console.log('submitting: ', JSON.stringify(this.data.form))
    }
  }, {nonShadow: true})
</script>
