<template>
  <form @submit="submitRegister">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" placeholder="Enter username" :value="form.username" @input="changeField">
      <div :children="form.username"></div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" :value="form.password" @input="changeField">
      <div style="color: red" :children="invalidPassword"></div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Password" :value="form.confirmPassword" @input="changeField">
      <a><router-link to="/login">Already has an account?</router-link></a>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</template>

<script>
  exportTag('register-form', class extends MyElement {
    data () {
      return {
        form: {
          username: '',
          password: '',
          confirmPassword: ''
        },
        invalidPassword: ''
      }
    }

    connectedCallback () {
      super.connectedCallback()
      const instance = this
      this.observe(instance.data, () => {
        this.data.invalidPassword = this.data.form.password !== this.data.form.confirmPassword ? 'The passwords do not match' : ''
      })
    }

    changeField (e) {
      this.data.form[e.target.id] = e.target.value
    }

    submitRegister (e) {
      e.preventDefault()
      if (this.data.invalidPassword) return false
      console.log('submitting: ', JSON.stringify(this.data.form))
    }
  })
</script>
