<template></template>

<script>
  exportTag('x-app', class extends MyElement {
    connectedCallback () {
      super.connectedCallback()
      this.style.display = 'none'
      // Only show when all components are ready
      window.addEventListener('WebComponentsReady', (e) => {
        this.style.display = 'contents'
      })

      api.getProfile()
      .then(({data: profile}) => {
        this.context.profile = profile
      })
      .catch(() => {})

      this.observe(this.context, () => {
        this.context.isLoggedIn = !!this.context.profile
        this.context.notLoggedIn = !this.context.profile
      })
      this.context.isLoggedIn = !!this.context.profile
      this.context.notLoggedIn = !this.context.profile
    }
  }, {nonShadow: true})
</script>
